[submodule "dotfiles/.emacs.d"]
	path = dotfiles/.emacs.d
	url = https://github.com/profilech/.emacs.d.git
[submodule "dotfiles/.spacemacs.d/layers"]
	path = dotfiles/.spacemacs.d/layers
	url = https://github.com/profilech/spacemacs-private-layers.git
